@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}


/* STRUCTURE */
#pagewrap {
	padding: 5px;
	width: 1000px;
	margin: 20px auto;
}
header {
	padding: 0 15px;
    background-color : #51c0b6;
    color: black;
    text-align : center;
    font-size:  small;
}

#content {
	width: 500px;
	float: left;
	padding: 5px 15px;
    font-size: 0.7em;
}

#info {
    background-color: black;
    color: #51c0b6;
    font-size: smaller;
    text-align: center;
    font-size:  xx-small;
}

#middle {
	width: 250px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

footer {
	clear: both;
	padding: 0 15px;
    background-color : #51c0b6;
    color: black;
    text-align : center;
    font-size:  xx-small;
}